#documentation

#Python folders
recursive-include hctsa/descriptive *
recursive-include hctsa/preparation *
recursive-include hctsa/exceptions *
recursive-include hctsa/visualization *
recursive-include hctsa/tests *

#Misc
include README.md
include setup.cfg
include setup.py